* {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
}

body {
    overflow: visible;
    background-color: #f3f5f7;
}

.clearfix:before,
.clearfix:after {
    content: "";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* header部分 */
.header {
    width: 100%;
    height: 100px;
    background-color: white;
    position: relative;
}

.header .headerbox_position {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
}

.header #logolink {
    display: block;
    float: left;
    margin: 27px 70px 27px 0px;
}

.header .headtag {
    display: block;
    float: left;
    padding: 11px 8px;
    font: 18px "Microsoft Yahei";
    margin: 27px 27px 27px 0px;
}

.header .lasttag {
    margin-right: 0px;
}

.header .headtag:hover {
    border-bottom: 2px solid #00a4ff;
    margin-bottom: 25px;
}

.header #search {
    display: block;
    float: left;
    width: 360px;
    height: 38px;
    margin: 30px 0px 30px 87px;
    color: #bfbfbf;
    font: 14px "Microsoft Yahei";
    text-indent: 2em;
    border: 1px solid #00a4ff;
    border-right: 0px;
}

.header #search:focus {
    text-indent: 0em;
    color: black;
    initial-value: "";
}

.header #searchbutton {
    display: block;
    float: left;
    width: 50px;
    height: 40px;
    margin: 30px 30px 30px 0px;
    background-image: url(images/fa-search.png);
    border-width: 0px;
}

.header #searchbutton:hover {
    cursor: pointer;
}

.header #avatar {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 35px 0px;
}

.header #username {
    display: block;
    float: left;
    margin: 39px 0px 39px 8px;
    font: 16px/22px "Microsoft Yahei";
}

/* header部分 */


/* nav部分 */

.nav {
    width: 100%;
    height: 420px;
    background-color: #033db2;
    position: relative;
}

.navbox_position {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
}

.nav .backimage {
    display: block;
    width: 1200px;
    height: 420px;
}

.navlist {
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    height: 360px;
    padding: 30px 0px;
    background-color: rgba(0, 0, 0, .35);
}

.nav .listtag {
    display: block;
    padding-left: 30px;
    width: 160px;
    height: 40px;
    line-height: 40px;
}

.nav .linkname {
    padding: 6px 0px;
    color: white;
    font: 15px/28px "Microsoft Yahei";
}

.nav .linkname:hover {
    color: #00a4ff;
}

.nav #navpic {
    display: block;
    width: 100%;
    height: 100%;
}

.nav .floatpoint {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -105px;
    /* margin: 350px 325px 50px 305px; */
    width: 150px;
    background-color: transparent;
}

.nav .yuan {
    float: left;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .35);
}

.nav .yuan:hover {
    cursor: pointer;
}

.nav .tuoyuan {
    margin-left: 0px;
    width: 30px;
    background-color: white;
}

.nav .classtable {
    position: absolute;
    right: 0;
    top: 60px;
    width: 230px;
    height: 300px;
    background-color: white;
}

.nav ._class {
    list-style-type: none;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.classtable h4 {
    width: 230px;
    height: 60px;
    text-align: center;
    font: 20px/60px "Microsoft Yahei";
    color: white;
    font-weight: 700;
    background-color: #9bceea;
}

._class .course {
    margin: 0px 18px;
    width: 194px;
    height: 56px;
    border-bottom: 1px solid #eaeaea;
}

.course .coursename {
    padding: 5px 0px 4px;
    font: 18px "Microsoft Yahei";
}

.course .courseinfo {
    font-size: 16px;
    color: #bdbdbd;
}

._class .allcourse {
    height: 56px;
}

._class .allcoursebutton {
    height: 38px;
    width: 198px;
    margin: 13px 15px;
    border: 1px solid #00a4ff;
    color: #00a4ff;
    text-align: center;
    line-height: 38px;
}

/* nav部分 */


/* bar部分 */
.bar {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 8px;
}

.barbox_position {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -600px;
    width: 1200px;
    background-color: white;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, .25);
}


.bartag {
    display: block;
    float: left;
    margin: 20px 0px;
    width: 116px;
    height: 20px;
    text-align: center;
    font: 17px/20px "Microsoft Yahei";
    border-left: 1px solid #bfbfbf;
}

.barheader {
    font-weight: 700;
    color: #00a4ff;
    border-width: 0;
}

.bar .changehobby {
    display: block;
    float: right;
    margin: 20px 0px;
    width: 116px;
    height: 20px;
    text-align: center;
    font: 17px "Microsoft Yahei";
}

#changehobby_link {
    color: #00a4ff;
}

/* bar部分 */

/* content部分 */
/*  box1是第一种类型布局
    box2是第二种类型布局 */
.content {
    width: 100%;
    position: relative;
}

.content .sidebar {
    position: absolute;
    left: 50%;
    top: 390px;
    margin-left: -800px;
    width: 184px;
    height: 426px;
    background-color: white;
}

.sidebar .sidebarlist {
    list-style-type: none;
    padding: 28px 0px 28px 30px;
}

.sidebar .titletext {
    font: 14px/20px "Microsoft Yahei";
    margin-bottom: 15px;
}

.sidebar .lastTitleText {
    margin-bottom: 0px;
}

.sidebar .titlejump:hover {
    color: #66bcfd;
}

.content .mainbar {
    width: 1200px;
    margin: 0 auto;
}

.content .box1,
.content .box2,
.content .box3 {
    width: 1200px;
    height: 600px;
    margin-top: 30px;
}

.content .box2 {
    height: 442px;
}

.content .box3 {
    height: 320px;
}

.content .boxtitle {
    font: 22px/30px "Microsoft Yahei";
    font-weight: 400;
}

.content .boxtag {
    display: block;
    float: left;
    width: 228px;
    height: 270px;
    margin-top: 15px;
    margin-right: 15px;
    background-color: white;
    transition: margin-top 400ms, box-shadow 400ms;
    position: relative;
}

.box2 .boxtag {
    margin-top: 22px;
}

.box3 .boxtag {
    margin-top: 20px;
}

.box1 .boxtag:hover {
    margin-top: 10px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, .25);
    transition: margin-top 400m, box-shadow 400ms;
}

.box2 .boxtag:hover {
    margin-top: 17px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, .25);
    transition: margin-top 400m, box-shadow 400ms;
}

.box3 .boxtag:hover {
    margin-top: 15px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, .25);
    transition: margin-top 400m, box-shadow 400ms;
}

.content .boxlasttag {
    margin-right: 0px;
}

.hot {
    position: absolute;
    right: -4px;
    top: 4px;
}

.new {
    position: absolute;
    right: -4px;
    top: 4px;
}

.hot:hover,
.new:hover {
    cursor: pointer;
}

.content .box_course_img {
    display: block;
    width: 228px;
    height: 155px;
}

.content .boxcourselink_text {
    display: block;
    overflow: hidden;
    height: 42px;
    margin: 22px 18px 0px 18px;
    font: 16px "Microsoft Yahei";
}

.content .info {
    display: block;
    margin: 15px 18px 0px 18px;
}

.content .classtype {
    color: #ff7c2d;
    font: 14px/20px "Microsoft Yahei";
}

.content .point {
    font-weight: 900;
    font: 15px/20px "Microsoft Yahei";
    color: #999999;
}

.content .member {
    color: #999999;
    font: 13px/20px "Microsoft Yahei";
}

.box2 .titlebar,
.box3 .titlebar {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}


.box3 .titlebar {
    margin: 0px;
}

.content .titlefloat {
    float: left;
}

.box2 .selectlevel,
.box3 .selectlevel {
    display: block;
    float: right;
    margin-right: 340px;
}

.box2 .selectoption,
.box3 .selectoption {
    float: left;
    margin-right: 70px;
}

.box2 .optionlink,
.box3 .optionlink {
    font: 16px/30px "Microsoft Yahei";
    color: #868686;
    line-height: 30px;
}

.box2 .optionlink:hover,
.box3 .optionlink:hover {
    color: #66bcfd;
}

.box2 .lastoption,
.box3 .lastoption {
    margin-right: 0px;
}

.box2 .checkall,
.box3 .checkall {
    display: block;
    float: right;
    margin-right: 30px;
}

.box2 .checkalllink,
.box3 .checkalllink {
    font: 12px/30px "Microsoft Yahei";
    color: #a5a5a5;
    line-height: 30px;
}

.box2 .checkalllink:hover,
.box3 .checkalllink:hover {
    color: #66bcfd;
}

.box2 .box2subtag {
    display: block;
    float: left;
    margin-right: 15px;
    height: 392px;
    width: 228px;
}

.box2 .box2maintag {
    display: block;
    float: left;
    width: 957px;
    height: 392px;
}

.box2 .box2sublink {
    width: 228px;
    height: 392px;
}

.box2 .box2row1 {
    width: 957px;
    height: 100px;
}

/* content部分 */

/* footer部分 */
.footer {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 420px;
    background-color: white;
}

.footerbox_position {
    position: absolute;
    left: 50%;
    margin-left: -600px;
}

.footer .logo {
    margin-bottom: 25px;
}

.footer .companyinformation {
    margin-bottom: 15px;
}

.footer .companyinfo {
    float: left;
    width: 660px;
    margin-top: 32px;
}

.footer .infotext {
    font: 14px/18px "Microsoft Yahei";
    color: #666666;
}

.footer .downloadApp {
    width: 116px;
    height: 32px;
    border: 2px solid #00a4ff;
    text-align: center;
}

.footer .downloadlink {
    font: 16px/32px "Microsoft Yahei";
    color: #00a4ff;
}

.footer .hyperlink {
    float: left;
    margin-top: 32px;
}

.footer .footerbox {
    float: left;
    width: 226px;
}

.footer .footerListTitle {
    font-weight: 500;
    margin-bottom: 15px;
}

.footer .footerlist {
    list-style-type: none;
}

/* footer部分 */
